/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*/
*{
  padding: 0;
  margin: 0;
}
.App{
  background-image: url('./me.jpg');
  position:relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.divideSidel{
   width: 25%;
    height: auto;
    box-sizing: border-box;
    margin: 5px;
    padding:5px;
    display: inline-block;
}

.mainSide{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    margin: 5px;
    padding:5px;
    display: inline-block;
}


.divideSideR{
   width: 25%;
    height: auto;
    box-sizing: border-box;
    margin: 5px;
    padding:5px;
/*    position: fixed;*/
    display: inline-block;
}

.flexC {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup{
  background-color: rgba(255,255,255,0.3);
}
#root-container > div > div.flexR{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height:auto;
}

#root-container > div > div.flexR > div.divideSidel > div > div > input.userName{

    width: 81%;
    height: 50px;
    position: relative;
    left: 31px;
    margin-top: 16px;
    border-radius: 5px;
     padding: 5px;
}



#root-container > div > div.flexR > div.divideSidel > div > div > input.email{
  width: 81%;
    height: 50px;
    position: relative;
    left: 31px;
    margin-top: 16px;
    border-radius: 5px;
     padding: 5px;
}

#root-container > div > div.flexR > div.divideSidel > div > div > input.password{
  width: 81%;
    height: 50px;
    position: relative;
    left: 31px;
    margin-top: 16px;
    border-radius: 5px;
    padding: 5px;
}



#root-container > div > div.flexR > div.divideSidel > div > div > button {
    width: 63%;
    height: 50px;
    position: relative;
    left: 60px;
    margin-top: 16px;
    margin-bottom: 19px;
}

input{
   width: 81%;
    height: 50px;
    position: relative;
    left: 31px;
    margin-top: 16px;
    border-radius: 5px;
    padding: 5px;
}

select{
  width: 50%;
    height: 40px;
    position: relative;
    left: 31px;
    margin-top: 16px;
    border-radius: 5px;
    padding: 5px;
}

button{
  width: 63%;
    height: 50px;
    position: relative;
    left: 60px;
    margin-top: 16px;
    margin-bottom: 19px;
}
#root-container > div > div.flexR > div.divideSideR > div > form.addBoard{
  background-color: rgba(255,255,255,.4);
 margin-bottom: 50px;
}

#root-container > div > div.flexR > div.divideSidel > div > div > h1{
  text-align: center;
}
#root-container > div > div.flexR > div.divideSideR > div > div > h1{
  text-align: center;
  color:black;
}

#root-container > div > div.flexR > div.divideSideR > div > form{
  margin-bottom: 20px;
  background-color: rgba(255,255,255,.4)
}
 textarea.title{
   width: 81%;
    height: 50px;
    position: relative;
    left: 31px;
    margin-top: 16px;
    border-radius: 5px;
    padding: 5px;
}
#root-container > div > div.flexR > div.divideSideR > div > div:nth-child(2) > h1{
  color:red;
  text-align: center;
}



